<app-nav></app-nav>
<br>
<div class="container">
    <h4 class="text-center">Coordinación Academica</h4>
    <h5 class="text-center">Control de asistencia y avances programativos ciclo 2018-2019- II</h5>
   <H6 class="text-center">GRUPO: 4-02 IS</H6>
   <br>
   <br>
  <div class="row">

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">HORA</th>
            <th scope="col">MATERIA</th>
            <th scope="col">PROFESOR</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">M</th>
            <th scope="col">J</th>
            <th scope="col">V</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="lunes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="martes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="miercoles">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="jueves">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="viernes">
                    
            
            </td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="lunes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="martes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="miercoles">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="jueves">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="viernes">
                    
            
            </td>
        
           
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="lunes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="martes">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="miercoles">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="jueves">
            </td>
            <td class="text-center">
                <input class="form-check-input" type="checkbox" id="viernes">
                    
            
            </td>
            
            <td>@mdo</td>
            
          </tr>
        </tbody>
      </table>
      <div style="margin-left: 490px;">
          <button  type="button" class="btn btn-outline-primary text-center ">Registrar asistencia</button>   
      </div>
   
    

    </div>
</div>