<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">

      <h4 class="text-white" style="font-style: oblique; font-family:'Times New Roman', Times, serif  ">Facultad de
        Ingenieria Mochis</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link text-white" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/primera">Control de asistencia</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Materias</a>
            <a class="dropdown-item" href="#">Profesores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Horarios</a>
          </div>
        </li>

      </ul>
      <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#exampleModalCenter">
        Iniciar sesión
      </button>
      <!-- Modal -->
      <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content text-center">
            <div class="modal-header text-center">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-white">
              <div class="row">
                <div class="col-sm-6">
                  <img src="assets/LOGO_FIM.png" width="130" height="130" alt="">
                </div>
                <div class="col-sm-6">
                  <br>
                  <div class="input-group mb-3">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-user" style="color:#007bff"></i></span>
                    </div>
                    <input [(ngModel)]="log.matricula" type="text" name="matricula" class="form-control input_user"
                      placeholder="Matricula">
                  </div>
                  <div class="input-group mb-2">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-key" style="color:#007bff"></i></span>
                    </div>
                    <input [(ngModel)]="log.pass" type="password" name="pass" class="form-control input_pass"
                      placeholder="Password">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center form_container">
              <button type="button" (click)="login()" class="btn btn-warning text-white " data-dismiss="modal">Iniciar
                sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>