<app-nav></app-nav>
<div class="container">
  <br>
  <br>
 
  <div class="row">
    <div class="col-8">
        <div class="card" style="margin-left: 30px; margin-right: 30px; margin-top: 30px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);">
        <div class="card-header text-center text-white bg-warning">
          <h5>Carreras-Semestres</h5>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Ingeniería Civil
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                  <div class="media">
                    <img src="assets/civil1.jpg" class="align-self-start mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Ingeniería Civil</h5>
                      <h6>El alumno egresado de la carrera de Ingeniería Civil será un profesionista capaz de conocer y
                        aplicar los principios y técnicas propias de esta carrera que le permitirán aprovechar los
                        recursos físicos y humanos para la plantación, diseño, construcción, conservación y evaluación
                        de obras tales como:</h6>

                      <p>Vías de Comunicación. </p>
                      <p>Obras hidráulicas y sanitarias. </p>
                      <p>Edificaciones. </p>
                      <p>Obras marítimas.</p>
                      <p>De almacenamiento.</p>
                      <p>De extracción y conducción de energéticos.</p>
                      <p>Redes de agua potable y alcantarillado.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Ingeniería Geodésica
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="media">
                    <img src="assets/geodesia.jpg" class="align-self-start mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0"> Ingeniería Geodésica</h5>
                      <p>El alumno egresado será un profesionista capaz de conocer, ampliar y aplicar las metodologías y
                        métodos propios de la carrera, para determinar la forma y dimensiones de diferentes espacios
                        superficiales, ubicando los objetos, que sirva para solucionar problemas económicos y sociales.
                        Algunas de las actividades que realiza son:</p>
                      <p>Garantizar la información veraz, puntual y digitalizada en la creación de un sistema de
                        información geográfica.</p>
                      <p> Efectúa mediciones astronómicas y gravimétricas con el fin de investigar las dimensiones y
                        formas de la tierra.</p>
                      <p> Proporcionar a través de diferentes métodos y metodologías la información y confección de
                        diferentes Cartas.</p>
                      <p> Controlar el proyecto, ejecución y Explotación de diferentes obras de Ingeniería</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ingeniería de Software
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="media">
                    <img src="assets/software.jpg" class="align-self-start mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0"> Ingeniería de Software</h5>

                      <p>El alumno egresado de la carrera de Ingeniería de Software será un profesionista capaz de: </p>
                      <p>1. trabajar profesionalmente como parte de equipo de desarrollo y evolución de productos de
                        software, negociar y liderear cuando sea necesario y comunicarse efectivamente con los
                        interesados</p>
                      <p>2. administrar los recursos involucrados en el desarrollo de software, considerando compromisos
                        con las limitaciones de costo, tiempo, conocimiento y sistemas existentes</p>
                      <p> 3. diseñar con equipos de trabajo soluciones en áreas interdisciplinarias</p>
                      <p>4. generar nuevas empresas de desarrollo de software con calidad de exportación mundial</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ingenieria Desarrollo Industrial
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="col-4">
      <div class="list-group" >
          <br>
         
        <button type="button" class="list-group-item list-group-item-action active">
          Semenas Nuevas
        </button>
        <button  *ngFor="let et of bailar2" (click)="registro(et.idsemana,et.nom_semana,et.fechaInicio,et.fechaFin)" type="button" class="list-group-item list-group-item-action"> <h6>{{et.nom_semana}}</h6> {{et.fechaInicio}} A: {{et.fechaFin}}</button>

        
      </div>
      <br>
      <button type="button" class="list-group-item list-group-item-action active">
          Semenas Pendientes
        </button>
      <div class="list-group" *ngFor="let e of bailar" >
        
        <button type="button"  (click)="registro(e.idsemana,e.nom_semana,e.fechaInicio,e.fechaFin)"  class="list-group-item list-group-item-action"><h6>{{e.nom_semana}}</h6> {{e.fechaInicio}} A: {{e.fechaFin}}</button>
        
      </div>

    </div>
  </div>
 
</div>